@font-face{
    src: url(../fonts/Noto_Sans/NotoSans-Bold.ttf);
    font-family: "N700";
}
@font-face{
    src: url(../fonts/Noto_Sans/NotoSans-Regular.ttf);
    font-family: "N400";
}
@font-face{
    src: url();
    font-family: "";
}
@font-face{
    src: url();
    font-family: "";
}
@font-face{
    src: url();
    font-family: "";
}
@font-face{
    src: url();
    font-family: "";
}